@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
   /* overflow-x: hidden;*/
    background-color: #28282a;
    color: white;
    min-height:100vh;
}





/* header */

header{
    margin-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(5px 5px 5px rgba(225,255,255,0.3));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.pagename{
    font-size: 3rem;
    color: #f0f0f0;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.pagename:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #708090;
    border-bottom: 3px solid #708090;
}










/* Main section*/
.container{
    margin: 40px 20px 0;
    dispaly: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .heading {
    padding-bottom: 50px;
    width: 50%;
}

.container .heading h3 {
    font-weight: bolder;
    font-size: 2rem;
    border-bottom: 3px solid #708090;
}

.container .heading h3 span {
    font-weight: 100;
}

.container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .gallery .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .gallery .column img {
    width:100%;
    margin-bottom: 15px;
    border-radius: 7px;
}

.container .gallery .column img:hover{
    box-shadow: 0 12px 13px rgba(255,255,255,0.5);
}



/* footer */

#footer {
    height: fit-content;
    background:#708090;
    width:100%;
    margin-top:7rem;
} 

.social-icons {
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width:100%;
}

.social-icons a{
    width: 8rem; 
    height: 8rem;
    background-color: transparent;
    /*border: 0.2rem solid #28282a;*/
    font-size: 5rem;
   /* border-radius: 40%;*/
    margin: 2rem 4rem ;
    transition: 0.5 ease;
    color: #28282a;
    justify-content: center;
    
}

.social-icons a:hover{
    color: #28282a;
    transform: scale(1.3) translateY(-5px);
    /*background-color: #28282a;*/
    box-shadow: 0  0 25px #28282a;
}

#footer p {
    margin: 10px 0px;
    padding:10px;
    display: inline-flex;
    justify-content: center; 
    
    width:100%;  
    font-size: 25px;
}